* {
    font-family:'Courier New', Courier, monospace;
}
hr {
    width: 50%;
    margin: 100px auto 100px auto;
}

/* HEADER */
#header-content {
    padding: 0;
}
.navbar-brand {
    font-size: 2.3em;
}

/* END HEADER */

/* MAIN */
main {
    margin-top: 100px;
}
/* END MAIN */

/* ABOUT ME */
#aboutMe {
    margin-bottom: 100px;
}
#donut {
    padding-top: 20px;
}
#hole {
    background: url(../theTruth.jpg) right no-repeat;
    height: 350px;
}
/* END ABOUT ME */


/******* XS DEVICES ONLY *******/
@media (max-width: 575px) {
    #header-content {
        padding-left: 5%;
    }
}

/******* SMALL AND XS DEVICES *******/
@media (max-width: 767px) {
    #donut {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    #hole {
        background-position: center;
        margin-top: 50px;
    }
}

/******* MEDIUM AND LARGE DEVICES *******/
@media (min-width: 768px) and (max-width: 1199px) {}

/******* XL AND XXL DEVICES *******/
@media (min-width: 1200px) {}