* {
    font-family:'Courier New', Courier, monospace;
}

/* HEADER */
.navbar-brand img {
    width: 40px;
}

.navbar-brand {
    font-size: 2em;
}

/* END HEADER */

hr {
    width: 50%;
    margin: 50px auto 50px auto;
}

/* ABOUT ME */
#aboutMe {
    margin-bottom: 50px;
}
#donut {
    padding-top: 20px;
}
#hole {
    background: url(../theTruth.jpg) right no-repeat;
    height: 350px;
}
/* END ABOUT ME */



/******* SMALL AND XS DEVICES *******/
@media (max-width: 767px) {
    #donut {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    #hole {
        background-position: center;
        margin-top: 40px;
    }
}

/******* MEDIUM AND LARGE DEVICES *******/
@media (min-width: 768px) and (max-width: 1199px) {}

/******* XL AND XXL DEVICES *******/
@media (min-width: 1200px) {}